<!DOCTYPE html>
<html>
  	<head>
  		<title>home of darren liu</title>
  		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  		<meta name="description" content="" />
  		<meta name="keywords" content="" />
  		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
  		<script src="/js/jquery.min.js"></script>
  		<script src="/js/jquery.poptrox.min.js"></script>
  		<!-- <script src="/js/skel.min.js"></script> -->
  		<script src="/js/init.js"></script>
  		<noscript>
      <!--
  			<link rel="stylesheet" href="/css/skel.css" />
      -->
  			<link rel="stylesheet" href="/css/style.css" />
  			<link rel="stylesheet" href="/css/style-xlarge.css" />
  		</noscript>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <!-- Import materialize.js -->
      <script type="text/javascript" src="js/materialize.min.js"></script>

  		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
  	</head>

	<body id="top">

      <header id="header">
          <a href="#" class="image avatar"><img src="/images/avatar.jpg" alt="" /></a>
          <h1><strong>My name is <a href="/">Darren</a></strong>, I am<br>
          a data science enthusiast, <br>
          a basketball analytics fanboy, <br>
          and an aficionado of anything data
      </header>


        {{ content }}

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">

              {% if site.github_username %}
              <li>
                <a href="https://github.com/{{ site.github_username }}" class="icon fa-github">
                  <span class="label">GitHub</span>
                </a>
              </li>
              {% endif %}

              {% if site.twitter_username %}
              <li>
                <a href="https://twitter.com/{{ site.twitter_username }}" class="icon fa-twitter">
                  <span class="label">Twitter</span>
                </a>
              </li>
              {% endif %}

              {% if site.email %}
              <li>
                <a href="mailto:{{ site.email }}" class="icon fa-envelope-o">
                  <span class="label">Email</span>
                </a>
              </li>
              {% endif %}
            </ul>
        </footer>

	</body>
</html>
